<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="sample3" formControlName="blog_title">
    <label class="mdl-textfield__label" for="sample3">Title</label>
  </div>
  <br>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="sample4" formControlName="blog_author">
    <label class="mdl-textfield__label" for="sample3">Author Name</label>
  </div>
  <br>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <textarea class="mdl-textfield__input" type="text" rows= "5" id="sample5" formControlName="blog_content"></textarea>
    <label class="mdl-textfield__label" for="sample5">Content</label><br>
    <button type="submit" class="waves-effect waves-light btn">Submit</button>
  </div>
</form>
<br>

