<font color="blue"><h3>{{blogs[0].title}}</h3></font>
<h4>{{blogs[0].author_name}}</h4>
<h5>{{blogs[0].content}}</h5>
<button (click)="upvote()"><i class="material-icons">thumb_up</i>{{blogs[0].upvote}}</button>
<button (click)="downvote()"><i class="material-icons">thumb_down</i>{{blogs[0].downvote}}</button>
<br><br><br>
<form  [formGroup]="form1" (ngSubmit)="onComment(form1.value)">
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <textarea class="mdl-textfield__input" type="text" rows= "5" id="sample5" ></textarea>
    <label class="mdl-textfield__label" for="sample5">Comment</label> 
  </div><br>
  <button type="submit" class="waves-effect waves-light btn">Comment</button>
  </form>
<br>
<hr>