<!--The content below is only a placeholder and can be replaced.-->
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Blog Application</a>
      <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Log In</a></li>
        <li><a href="badges.html">Sign Up</a></li>      </ul> -->
    </div>
  </nav><br><br><br>
<div style="text-align:center">
  <a class="waves-effect waves-light btn" routerLink="/create-app">Create</a>
  <a class="waves-effect waves-light btn" routerLink="/view-app">View</a>
  <br><br><br><br>
  <router-outlet></router-outlet>
  </div>